/**
 * file: css/css.css
 * purpose: styling
 **/

 /**MIN HEADER**/


header {
    background-color: #f8f8f8;
    color: #f8f8f8;
    padding: 20px;
  }

  h1{
    color: #840028;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
  }
  
  nav{
    border-top: 5px solid #840028;
    font-family: 'Poppins',sans-serif;
    background-color: #f8f8f8;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0x;
    text-align: center;
    font-size: 30px;
  
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 50px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
  }

  
input[type=text] {
  position: absolute;
  margin-top: -250px;
  margin-left: 1600px;
  width: 250px;
  height: 50px;
  border-radius: 30px;
}

button {
  width: 120px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  margin-top: -190px;
  margin-left: 1700px;
}

.flex-container, .flex-container2 {
    max-width: 5000px;
    display: flex;
    background-color: #840028;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .flex-container > div, .flex-container2 > div {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 60px;
  }


body{
    margin-bottom: 100px;
    background-color: #f8f8f8;
}


footer {
    background-color: #f1f1f1;
    color: #000000;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }